/**
 * @name BRANCORD
 * @author beautifulbran
 * @version 420
 * @description Slightly edited theme for BD based on ClearVision
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://github.com/beautifulbran/ClearVision-V6
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

/* IMPORT CSS */
@import url(https://clearvision.github.io/ClearVision-v6/main.css);

/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #d40000d8; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
  --hover-color: #a00000fb; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
  --success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
  --danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
  --url-color: #FFFFFF; /*The color of url links [default: var(--main-color)]*/

  /* STATUS COLORS */
  --online-color: #2bff00; /* online status color (hex, rgb or hsl) [default: #43b581] */
  --idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
  --dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
  --streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
  --offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

  /* GENERAL */
  --main-font: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif] */
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
  --text-normal: rgb(220, 221, 222); /* color of default discord text */
  --text-muted: rgb(114, 118, 125); /* color of default discord muted text (e.g.text found in input fields before typing).*/
  --channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
  --members-width: 240px; /* member list width [default: 240px] */

  /* APP BACKGROUND */
  --background-shading: 10%; /* app background shading (0 for complete smoothness) [default: 100%] */
  --background-overlay: rgba(5, 5, 5, 0.692); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
  --background-image: url(https://i.imgur.com/dVdLuAm.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
  --background-position: center; /* app background position [default: center] */
  --background-size: cover; /* app background size [default: cover] */
  --background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
  --background-attachment: fixed; /* app background attachment [default: fixed] */
  --background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
  --background-contrast: 100%; /* app background contrast [default: 100%] */
  --background-saturation: 100%; /* app background saturation [default: 100%] */
  --background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
  --background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
  --background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
  --background-blur: 3px; /* app background blur [default: 0px] */

  /* HOME BUTTON ICON */
  --home-icon: url(https://i.imgur.com/TpuAMZl.png); /* home button icon (link must be HTTPS) [default: url(https://clearvision.github.io/icons/discord.svg)]*/
  --home-position: center; /* home button icon position [default: center] */
  --home-size: 50px; /* home button icon size [default: 40px] */

  /* CHANNEL COLORS */
  --channel-unread: #c50d00; /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
  --channel-color: rgb(255, 255, 255); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
  --channel-text-selected: rgb(255, 255, 255); /* Selected channel text color, CV default is #fff */
  --muted-color: rgb(255, 255, 255); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/

  /* MODAL BACKDROP */
  --backdrop-overlay: rgba(8, 8, 8, 0.664); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
  --backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(--background-image)] */
  --backdrop-position: var(--background-position); /* modal backdrop position [default: var(--background-position)] */
  --backdrop-size: var(--background-size); /* modal backdrop size [default: var(--background-size)] */
  --backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(--background-repeat)] */
  --backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
  --backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(--background-contrast)] */
  --backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(--background-saturation)] */
  --backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(--background-invert)] */
  --backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(--background-grayscale)] */
  --backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(--background-sepia)] */
  --backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */

  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-popout-position: var(--background-position); /* user popout background position [default: var(--background-position)] */
  --user-popout-size: var(--background-size); /* user popout background size [default: var(--background-size)] */
  --user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(--background-repeat)] */
  --user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
  --user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(--background-contrast)] */
  --user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(--background-saturation)] */
  --user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(--background-invert)] */
  --user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
  --user-popout-overlay: rgba(0, 0, 0, 0.568); /* user popout overlay color [default: rgba(0, 0, 0, .6)] */

  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-modal-position: var(--background-position); /* user modal background position [default: var(--background-position)] */
  --user-modal-size: var(--background-size); /* user modal background size [default: var(--background-size)] */
  --user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(--background-repeat)] */
  --user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
  --user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(--background-contrast)] */
  --user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(--background-saturation)] */
  --user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(--background-invert)] */
  --user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */

  /* THEME BD COLORS */
  --bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
  --bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
  --bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
}


/* Changed ClearVision watermarks 
If you, ClearVision team want it back, just ask me*/

.typeWindows-2-g3UY>.wordmark-2u86JB:before,.typeWindows-2-g3UY>.wordmark-2u86JB:after {
    margin-left: -1px;
    margin-top: -1px;
    font-weight: 600;
    white-space: nowrap;
    order: 1
}

.typeWindows-2-g3UY>.wordmark-2u86JB:before {
    content: "";
    color: rgb(255 255 255);
    font-size: 15px;
    text-shadow: 0 0 3px #000
}

.typeWindows-2-g3UY>.wordmark-2u86JB:after {
    content: "v420";
    color: rgb(255 0 0);
    font-family: var(--code-font);
    font-size: 10px
}

.typeWindows-2-g3UY>.wordmark-2u86JB>svg {
    filter: drop-shadow(5 0 5px var(--main-color));
    margin-top: 6px
}

.typeWindows-2-g3UY>.wordmark-2u86JB>svg>g>path:first-child {
    d: path("M 19.18 7.181 L 20.97 7.181 L 20.97 4.351 L 20.74 2.981 L 20.79 2.971 L 21.41 4.391 L 23.01 7.181 L 24.82 7.181 L 24.82 0.101 L 23.04 0.101 L 23.04 3.311 C 23.05 3.311 23.23 4.531 23.24 4.531 L 23.19 4.541 L 22.59 3.121 L 20.88 0.101 L 19.18 0.101 L 19.18 7.181 Z M 10.01 7.181 L 12.24 7.181 L 10.31 4.751 A 1.817 1.817 0 0 0 11.51 3.611 C 11.634 3.286 11.7 2.894 11.7 2.431 A 2.822 2.822 0 0 0 11.531 1.495 C 11.238 0.721 10.589 0.301 9.765 0.158 A 4.072 4.072 0 0 0 9.07 0.101 L 6.24 0.101 L 6.24 7.181 L 8.05 7.181 L 8.05 4.931 L 8.37 4.931 L 10.01 7.181 Z M 42.18 7.181 L 44.41 7.181 L 42.48 4.751 A 1.817 1.817 0 0 0 43.68 3.611 C 43.804 3.286 43.87 2.894 43.87 2.431 A 2.822 2.822 0 0 0 43.701 1.495 C 43.408 0.721 42.759 0.301 41.935 0.158 A 4.072 4.072 0 0 0 41.24 0.101 L 38.41 0.101 L 38.41 7.181 L 40.22 7.181 L 40.22 4.931 L 40.54 4.931 L 42.18 7.181 Z M 27.56 4.861 L 27.56 2.421 C 27.56 1.541 29.14 1.341 29.62 2.221 L 31.08 1.631 C 30.534 0.425 29.549 0.034 28.702 0.003 A 3.055 3.055 0 0 0 28.59 0.001 A 3.093 3.093 0 0 0 26.419 0.81 C 26.071 1.156 25.835 1.611 25.782 2.173 A 2.613 2.613 0 0 0 25.77 2.421 L 25.77 4.861 C 25.77 6.471 27.17 7.281 28.56 7.281 A 2.824 2.824 0 0 0 29.165 7.215 C 29.823 7.07 30.498 6.679 30.962 5.949 A 3.22 3.22 0 0 0 31.11 5.691 L 29.55 4.971 A 0.962 0.962 0 0 1 29.278 5.353 C 28.685 5.858 27.56 5.574 27.56 4.861 Z M 16.18 0.101 L 14.55 0.101 L 12.08 7.181 L 14 7.181 L 14.44 5.761 L 16.33 5.761 L 16.79 7.181 L 18.71 7.181 L 16.18 0.101 Z M 2.84 0.101 L 0 0.101 L 0 7.181 L 2.89 7.181 A 4.063 4.063 0 0 0 3.764 7.095 C 4.738 6.88 5.251 6.274 5.403 5.393 A 3.02 3.02 0 0 0 5.41 5.351 C 5.5 4.811 5.38 3.901 4.41 3.411 A 1.243 1.243 0 0 0 4.776 3.126 C 5.024 2.846 5.133 2.49 5.14 2.261 C 5.173 1.158 4.518 0.416 3.541 0.181 A 3 3 0 0 0 2.84 0.101 Z M 44.87 0.101 L 44.87 7.181 L 47.52 7.181 A 4.198 4.198 0 0 0 47.55 7.181 C 48.803 7.181 49.979 6.618 50.224 5.354 A 2.646 2.646 0 0 0 50.27 4.851 L 50.27 2.471 A 2.423 2.423 0 0 0 50.067 1.462 C 49.642 0.523 48.607 0.101 47.52 0.101 L 44.87 0.101 Z M 37.46 4.851 L 37.46 2.431 C 37.46 1.08 36.437 0.292 35.244 0.068 A 3.933 3.933 0 0 0 34.52 0.001 C 33.05 0.001 31.59 0.801 31.59 2.431 L 31.59 4.851 C 31.59 6.203 32.613 6.99 33.806 7.214 A 3.933 3.933 0 0 0 34.53 7.281 C 35.926 7.281 37.313 6.551 37.449 5.09 A 2.57 2.57 0 0 0 37.46 4.851 Z M 35.67 2.431 L 35.67 4.851 C 35.67 5.354 35.116 5.614 34.554 5.621 A 1.877 1.877 0 0 1 34.53 5.621 A 1.949 1.949 0 0 1 34.501 5.621 C 33.941 5.613 33.38 5.362 33.38 4.851 L 33.38 2.431 A 0.733 0.733 0 0 1 33.844 1.772 A 1.527 1.527 0 0 1 34.5 1.631 C 34.764 1.631 35.029 1.683 35.241 1.791 A 0.705 0.705 0 0 1 35.67 2.431 Z M 46.67 5.501 L 46.67 1.771 L 47.58 1.771 A 1.419 1.419 0 0 1 47.907 1.806 C 48.258 1.889 48.442 2.117 48.467 2.442 A 1.024 1.024 0 0 1 48.47 2.521 L 48.47 4.731 A 0.815 0.815 0 0 1 48.373 5.138 C 48.259 5.339 48.042 5.469 47.712 5.496 A 1.626 1.626 0 0 1 47.58 5.501 L 46.67 5.501 Z M 8.05 3.391 L 8.05 1.771 L 9.1 1.771 A 0.968 0.968 0 0 1 9.446 1.831 C 10.194 2.115 10.105 3.323 9.179 3.388 A 1.129 1.129 0 0 1 9.1 3.391 L 8.05 3.391 Z M 40.22 3.391 L 40.22 1.771 L 41.27 1.771 A 0.968 0.968 0 0 1 41.616 1.831 C 42.364 2.115 42.275 3.323 41.349 3.388 A 1.129 1.129 0 0 1 41.27 3.391 L 40.22 3.391 Z M 1.8 5.611 L 1.8 4.161 L 2.84 4.161 A 0.956 0.956 0 0 1 3.16 4.213 C 3.842 4.454 3.806 5.465 3.018 5.597 A 1.076 1.076 0 0 1 2.84 5.611 L 1.8 5.611 Z M 1.8 2.871 L 1.8 1.611 L 2.84 1.611 A 0.785 0.785 0 0 1 3.104 1.654 C 3.723 1.874 3.614 2.871 2.84 2.871 L 1.8 2.871 Z M 14.84 4.171 L 15.36 2.101 L 15.41 2.101 L 15.9 4.171 L 14.84 4.171 Z")
}

.theme-dark .container-YkUktl:before,.theme-dark .container-YkUktl:after {
    bottom: -8px;
    position: absolute;
    color: rgb(224 0 0 / 70%);
    font-size: 11px;
    font-weight: 700;
    transition: all .5s ease-in-out
}

.theme-dark .container-YkUktl:before {
    content: "BRANCORD";
    right: 50%;
    text-align: right;
    transform: translateX(50%)
}

.theme-dark .container-YkUktl:after {
    content: "v420";
    left: 50%;
    text-align: left;
    opacity: 0;
    transform: translateX(50%) rotateX(90deg)
}

.theme-dark .container-YkUktl .withTagAsButton-OsgQ9L:hover,.theme-dark .container-YkUktl .withTagless-10ooWt:hover {
    background-color: rgb(255 255 255 / 28%);
    color: #fff
}

.theme-dark .container-YkUktl .subtext-2HDqJ7 {
    color: rgb(255 0 0 / 96%)
}
.container-1zzFcN {
    border-color: rgb(0 0 0 / 0%);
    background: rgba(0,0,0,0)
}

.activityPanel-9icbyU .actions-zk2vB_ {
    background: rgb(0 0 0 / 33%);
    border-radius: 15px
}

.noiseCancellationPopout-2-e5Xz {
    background-color: rgb(0 0 0 / 66%)
}

.contentContainer-BWAau5 {
    background: rgb(0 0 0 / 0%)
}



/* Any custom CSS below here */